<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaofeng.deliverymanagement.repository.DeliveryLoaderMapper">
  <resultMap id="BaseResultMap" type="com.zhaofeng.deliverymanagement.model.entity.DeliveryLoader">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="delivery_id" jdbcType="INTEGER" property="deliveryId" />
    <result column="loader_id" jdbcType="INTEGER" property="loaderId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, delivery_id, loader_id
  </sql>
</mapper>