<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaofeng.deliverymanagement.repository.TruckMapper">
  <resultMap id="BaseResultMap" type="com.zhaofeng.deliverymanagement.model.entity.Truck">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="license_plate" jdbcType="VARCHAR" property="licensePlate" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="max_capacity" jdbcType="DOUBLE" property="maxCapacity" />
    <result column="recent_usage_time" jdbcType="TIMESTAMP" property="recentUsageTime" />
    <result column="usage_count" jdbcType="TIMESTAMP" property="usageCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, license_plate, user_id, max_capacity, recent_usage_time, usage_count
  </sql>

  <!-- 根据用户id获取车辆信息 -->
  <select id="selectByUserId" parameterType="java.lang.Integer" resultType="com.zhaofeng.deliverymanagement.model.dto.TruckDTO">
    SELECT
      id, license_plate as licensePlate, max_capacity as maxCapacity
    FROM
      truck
    WHERE
      user_id = #{userId}
    ORDER BY
      recent_usage_time DESC, usage_count DESC
  </select>

  <!-- 根据用户id获取指定车牌号的数量 -->
  <select id="countByUserIdAnLicensePlate" resultType="java.lang.Integer">
    SELECT
      COUNT (*)
    FROM
      truck
    WHERE
      user_id = #{userId}
    AND
      license_plate = #{licensePlate}
  </select>

  <!-- 根据车辆搜索参数获取车辆 -->
  <select id="selectBySearchParam" resultType="com.zhaofeng.deliverymanagement.model.dto.TruckDTO">
    SELECT
      id, license_plate as licensePlate, max_capacity as maxCapacity
    FROM
      truck
    WHERE
      user_id = #{userId}
    <if test="licensePlate != null and licensePlate != ''">
      AND license_plate LIKE concat('%', #{licensePlate}, '%')
    </if>
    ORDER BY recent_usage_time DESC, usage_count DESC
  </select>

  <!-- 根据车辆id刷新使用情况 -->
  <update id="updateRecentUsageTimeAndUsageCount">
    UPDATE
      truck
    SET recent_usage_time = now(),
        usage_count = usage_count + 1
    WHERE
      id = #{id}
  </update>

</mapper>