<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaofeng.deliverymanagement.repository.TruckMapper">
  <resultMap id="BaseResultMap" type="com.zhaofeng.deliverymanagement.model.entity.Truck">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="license_plate" jdbcType="VARCHAR" property="licensePlate" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="max_capacity" jdbcType="DOUBLE" property="maxCapacity" />
    <result column="recent_usage_time" jdbcType="TIMESTAMP" property="recentUsageTime" />
    <result column="usage_count" jdbcType="TIMESTAMP" property="usageCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, license_plate, user_id, max_capacity, recent_usage_time, usage_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from truck
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from truck
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhaofeng.deliverymanagement.model.entity.Truck">
    insert into truck (id, license_plate, user_id, 
      max_capacity, recent_usage_time, usage_count
      )
    values (#{id,jdbcType=INTEGER}, #{licensePlate,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{maxCapacity,jdbcType=DOUBLE},now(), 0
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhaofeng.deliverymanagement.model.entity.Truck">
    insert into truck
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="licensePlate != null">
        license_plate,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="maxCapacity != null">
        max_capacity,
      </if>

        recent_usage_time,

        usage_count,

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="licensePlate != null">
        #{licensePlate,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="maxCapacity != null">
        #{maxCapacity,jdbcType=DOUBLE},
      </if>
      now(),
      0,
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaofeng.deliverymanagement.model.entity.Truck">
    update truck
    <set>
      <if test="licensePlate != null">
        license_plate = #{licensePlate,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="maxCapacity != null">
        max_capacity = #{maxCapacity,jdbcType=DOUBLE},
      </if>
      <if test="recentUsageTime != null">
        recent_usage_time = #{recentUsageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="usageCount != null">
        usage_count = #{usageCount,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaofeng.deliverymanagement.model.entity.Truck">
    update truck
    set license_plate = #{licensePlate,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      max_capacity = #{maxCapacity,jdbcType=DOUBLE},
      recent_usage_time = #{recentUsageTime,jdbcType=TIMESTAMP},
      usage_count = #{usageCount,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 根据用户id获取车辆信息 -->
  <select id="selectByUserId" parameterType="java.lang.Integer" resultType="com.zhaofeng.deliverymanagement.model.dto.TruckDTO">
    select id, license_plate as licensePlate, max_capacity as maxCapacity
    from truck
    where user_id = #{userId}
    order by recent_usage_time desc, usage_count desc
  </select>

  <!-- 根据用户id获取指定车牌号的数量 -->
  <select id="countByUserIdAnLicensePlate" resultType="java.lang.Integer">
    select count(*)
    from truck
    where user_id = #{userId}
    and license_plate = #{licensePlate}
  </select>

  <!-- 根据车辆搜索参数获取车辆 -->
  <select id="selectBySearchParam" resultType="com.zhaofeng.deliverymanagement.model.dto.TruckDTO">
    select id, license_plate as licensePlate, max_capacity as maxCapacity
    from truck
    where user_id = #{userId}
    <if test="licensePlate != null and licensePlate != ''">
      and license_plate like concat('%', #{licensePlate}, '%')
    </if>
    order by recent_usage_time desc, usage_count desc
  </select>

  <!-- 根据车辆id刷新使用情况 -->
  <update id="updateRecentUsageTimeAndUsageCount">
    update truck
    set recent_usage_time = now(),
    usage_count = usage_count + 1
    where id = #{id}
  </update>

</mapper>