<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaofeng.deliverymanagement.repository.UserMapper">
  <resultMap id="BaseResultMap" type="com.zhaofeng.deliverymanagement.model.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="job_id" jdbcType="INTEGER" property="jobId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
  </resultMap>


  <!-- 用户详细信息 -->
  <resultMap id="UserDetailMap" type="UserPojo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <association javaType="com.zhaofeng.deliverymanagement.model.entity.Job" property="job">
      <id column="job_id" property="id" />
      <result column="name" property="name" />
    </association>
    <collection column="id" ofType="com.zhaofeng.deliverymanagement.model.entity.Role" property="roleList" select="com.zhaofeng.deliverymanagement.repository.RoleMapper.selectByPrimaryKey" />
    <!--&lt;collection column="id" ofType="com.zhaofeng.deliverymanagement.model.entity.Address" property="addressList" select="com.zhaofeng.deliverymanagement.repository.AddressMapper.selectByCustomerId" /&gt;-->
  </resultMap>

  <!-- 用户简单信息 -->
  <!--<resultMap id="SimpleUserMap" type="SimpleUserPojo">-->
    <!--<id column="id" jdbcType="INTEGER" property="id" />-->
    <!--<result column="username" jdbcType="VARCHAR" property="username" />-->
    <!--<result column="password" jdbcType="VARCHAR" property="password" />-->
    <!--<result column="realname" jdbcType="VARCHAR" property="realname" />-->
    <!--<result column="phone" jdbcType="VARCHAR" property="phone" />-->
    <!--<association javaType="com.zhaofeng.deliverymanagement.model.entity.Job" property="job">-->
      <!--<id column="job_id" property="id" />-->
      <!--<result column="name" property="name" />-->
    <!--</association>-->
  <!--</resultMap>-->

  <!-- 查询所有普通用户 -->
  <select id="selectAllNormalUser" resultType="SimpleUserPojo">
    select id, username, realname, phone, remark
    from user u, user_role ur
    where u.id = ur.user_id
    and
    role_id &gt; 1
  </select>

  <!-- 查询所有客户 -->
  <select id="selectAllCustomer" resultType="com.zhaofeng.deliverymanagement.model.dto.CustomerDTO">
    select id, realname, phone, remark
    from user
    where id not in
    (select distinct user_id from user_role)
    and job_id is NULL
  </select>

  <!-- 根据用户id查询客户 -->
  <select id="selectCustomerByUserId" resultType="com.zhaofeng.deliverymanagement.model.dto.CustomerDTO">
    select id, username, realname, phone, remark
    from user
    where owner_id = #{userId}
    and job_id is null
  </select>

  <!-- 查询所有员工 -->
  <select id="selectAllEmployee" resultType="SimpleUserPojo">
    select id, username, realname, phone, remark
    from user
    where job_id is not null
  </select>

  <!-- 根据用户id查询员工 -->
  <select id="selectEmployeeByUserId" resultType="EmployeePojo">
    select u.id, realname, phone, name as job_name, remark
    from user u, job j
    where u.job_id = j.id
    and owner_id = #{userId}
    and job_id is not null
  </select>

  <!-- 根据用户id查询司机-->
  <select id="selectDriverByUserId" resultType="EmployeePojo">
    select u.id, realname, phone, name as job_name, remark
    from user u, job j
    where u.job_id = j.id
    and owner_id = #{userId}
    and job_id = 1
  </select>

  <!-- 根据用户id查询装卸工-->
  <select id="selectLoaderByUserId" resultType="EmployeePojo">
    select u.id, realname, phone, name as job_name, remark
    from user u, job j
    where u.job_id = j.id
    and owner_id = #{userId}
    and job_id = 2
  </select>

  <!--&lt;!&ndash; 根据发货记录id查询装卸工 &ndash;&gt;-->
  <!--<select id="selectByDeliveryId" parameterType="java.lang.Integer" resultType="com.zhaofeng.deliverymanagement.model.dto.user.BaseUserMinimalDTO">-->
    <!--select u.id, realname-->
    <!--from user u, delivery_loader dl-->
    <!--where u.id = dl.loader_id-->
    <!--and delivery_id = #{deliveryId}-->
  <!--</select>-->


  <!-- 统计真实姓名姓名与指定的姓名相同的普通用户数量 -->
  <select id="countByRealnameUnderNormalUser" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*)
    from user
    where owner_id is null
    and username = #{username}
  </select>


  <!-- 统计真实姓名姓名与指定的姓名相同的客户数量 -->
  <select id="countByOwnerIdAndRealnameUnderCustomer" resultType="java.lang.Integer">
    select count(*)
    from user
    where owner_id = #{ownerId}
    and job_id is null
    and realname = #{realname}
  </select>

  <!-- 统计真实姓名姓名与指定的姓名相同的员工数量 -->
  <select id="countByOwnerIdAndRealnameUnderEmployee" resultType="java.lang.Integer">
    select count(*)
    from user
    where owner_id = #{ownerId}
    and job_id is not null
    and realname = #{realname}
  </select>

  <!-- 根据客户姓名获取客户 -->
  <select id="selectCustomerByRealnameLike" resultType="com.zhaofeng.deliverymanagement.model.dto.CustomerDTO">
    select id, username, realname, phone, remark
    from user
    where owner_id = #{userId}
    and job_id is null
    and realname like #{realname}
  </select>

  <!-- 根据客户搜索参数获取客户 -->
  <select id="selectCustomerBySearchParam" resultType="com.zhaofeng.deliverymanagement.model.dto.CustomerDTO">
    select id, realname, phone, remark
    from user
    where owner_id = #{ownerId}
    and job_id is null
    <if test="realname != null and realname != ''">
      and realname like concat('%', #{realname}, '%')
    </if>
    <if test="phone != null and phone != ''">
      and phone like concat('%', #{phone}, '%')
    </if>
  </select>

  <!-- 根据员工搜索参数获取员工 -->
  <select id="selectEmployeeBySearchParam" resultType="EmployeePojo">
    select u.id, realname, phone, name as job_name, remark
    from user u, job j
    where u.job_id = j.id
    and owner_id = #{ownerId}
    <if test="jobId != null and jobId != 0">
      and job_id = #{jobId}
    </if>
    <if test="realname != null and realname != ''">
      and realname like concat('%', #{realname}, '%')
    </if>
    <if test="phone != null and phone != ''">
      and phone like concat('%', #{phone}, '%')
    </if>
  </select>

</mapper>